 body{
  background-image:url(mini.png);
  background-repeat: repeat-x;
  background-size:110%;
  }
  #logb{
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
  }
  #logb td, #log th{
    box-sizing: border-box;
    width: 200px;
    height: 90px;
    color:white;
    border: 2px solid;
    padding: 8px
  }
  #logb th{
    padding-top: 15px;
    padding-bottom: 12px;
    text-align: left;
    background-color: BLACK;
    color: white;
  }
  *{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-size: Arial;

  }
  .heading{
    color:white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }
  .heading h3{
    font-size: 40px;
    margin-top: 50px;
    position: relative;
    margin-left: 60px;
  }

  .heading p{
    font-size: 22px;
    margin-bottom: 40px;
    margin-left:  8%;
  }
  .container{
    width: 90%;
    margin:0;
    padding:20px;
  }
  .about{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
     margin-bottom: -20px;
  }
  .about-image{
    flex:1;
    margin-right:30px;
    overflow: hidden;
    margin-top: 50px;
  }
  .about-image img{
    height: 380px;
    width: 700px;
    margin-left: -50%;
  }
  .about-image:hover img{
    transform: scale(1.2);
  }
  .about-content h2{
    font-size:35px;
    margin-bottom: 15px;
    margin-left: 55%;
    margin-top: -25%;
  }
  .about-content p{
    font-size: 26px;
    line-height: 1.5;
    float: left;
    margin-left: 58%;
    margin-top: -20px;
  }
  .about-content .read-more{
    margin-bottom: -50%;
    padding:10px;
    font-size: 22px;
    margin-left: 59%;
    margin-top: 30px;
  }
  .footer{
    background-color: black;
    margin-left: 30px;
    padding: 3px;
    font-size: 25px;
    margin-top:2.0%;
    text-align: center;
    margin-left: -100px;
    margin-right: -390px;
  }